<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>Kynect - Track Your Pet</title>
        <meta charset=utf-8 />

        <!-- Favicon Import -->
        <link   rel="icon" 
                href="{% static 'media/images/favicon/favicon.ico' %}">

        <!-- Bootstrap Stylesheets -->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- External Stylesheets -->
        <link   rel="stylesheet"
                type="text/css" 
                href="{% static 'css/master.css' %}">

        <!-- Google Web Fonts -->
        <link   rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <link   href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" 
                rel="stylesheet">
        <link   href="https://fonts.googleapis.com/css?family=Muli" 
                rel="stylesheet">    

        <!-- JQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript Library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <style>
            #mapContainer {
                background-color:lightblue;
                display:block;
                padding:0px;
                margin:0px;                
                width:100%;
                height:100%; }

            #map {
                display:block;
                padding:0px;
                margin:0px;
                width:100%;
                height:100%; }
        </style>
    </head>

    <body>
        {% include "navbar.html" %}

        <!-- <div class="first-div"><b>lat: </b>{{ pets.first.location.latitude }}</div>
        <div class=""><b>lng: </b>{{ pets.first.location.longitude }}</div> -->

        <div id="mapContainer">
            <div id="map"></div>
        </div>

        <!-- SCRIPTS GO HERE -->

        <script>
            var map;
            var marker;
            var markers = [];
            var geolocation_marker;
            var markerLatLng;
            var contentString;
            var infowindow;

            function initMap() {
                var centerLatLng = new google.maps.LatLng({{ devices.first.pet.location.latitude }}, {{ devices.first.pet.location.longitude }});
                var mapDiv = document.getElementById('map');
                
                map = new google.maps.Map(mapDiv, {
                    center: centerLatLng,
                    zoom: 15
                });

                {% for device in devices %}
                    markerLatLng = new google.maps.LatLng({{ device.pet.location.latitude }}, {{ device.pet.location.longitude }});

                    marker = new google.maps.Marker({
                        position: markerLatLng,
                        map: map,
                    });

                    content =   '<div><b>Name: </b>{{ device.pet.name }}</div>' +
                                '<div><b>Breed: </b>{{ device.pet.breed }}</div>';
                    infowindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(marker, 'click', (function(marker,content,infowindow){ 
                        return function() {
                            infowindow.setContent(content);
                            infowindow.open(map,marker);
                        };
                    })(marker,content,infowindow)); 

                    markers.push(marker);
                {% endfor %}

                infoWindow_user_location = new google.maps.InfoWindow();

                // HTML5 geolocation for user current location.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        map.setCenter(pos);

                        // Place a marker
                        geolocation_marker = new google.maps.Marker({
                            position: pos,
                            map: map,
                            title: 'Your Location',
                            icon: 'http://labs.google.com/ridefinder/images/mm_20_green.png'
                        });

                        markers.push(geolocation_marker);
                    }, function() {
                        handleLocationError(true, infoWindow_user_location, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow_user_location, map.getCenter());
                }

                function handleLocationError(browserHasGeolocation, infoWindow_user_location, pos) {
                    infoWindow_user_location.setPosition(pos);
                    infoWindow_user_location.setContent(browserHasGeolocation ?
                                          'Error: The Geolocation service failed.' :
                                          'Error: Your browser doesn\'t support geolocation.');
                    infoWindow_user_location.open(map);
                }
            }
        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlmTuazt2sCxBRgv9UGuO00jtK6MST1mA&callback=initMap"></script>

        <!-- SCIPTS END HERE -->
    </body>
</html>