/*
filename: 			global.css

Description: 		Stores page specific styling for all pages.

Application Range:	Applies to all pages (non-backend)

TABLE OF CONTENTS:
	1. Common Formatting 	(Common formatting across pages)
	2. Navbar				(Everything related to navbar)
	3. Footer 				(Everything related to footer)
	4. Layout 				(divs, structure classes)
	5. Links				(a)
	6. Typography			(headings, p, strong, b, i, u, small, etc...)
	7. Form Elements		(form, input, button, etc...)
	8. Media				(img, iframe, etc...)
	9. General Styles 		(float, alignLeft, alignRight, etc...)

****************************** CSS BEGINS BELOW *******************************/


/*----------------------------------------------------------------------------*/
/*------------------------ COMMON SHARED FORMATTING --------------------------*/
/*----------------------------------------------------------------------------*/


.section-header-container {
    padding-top: 30px;
    padding-bottom: 30px; }

	.section-header-container .section-header-title {
		display: block;
        text-align: center;
        font-size: 40px;
        color: #ffffff; }

	.section-header-container .section-header-subheader {
		display: block;
        text-align: center;
        font-size: 14px;
        color: #ffffff; }

.left, 
.right, 
.carousel-control {
    background-image: none !important; }

.carousel-control {
    height: 20px;
    width: 100px;
    top: 14% !important; }

@media (max-width: 500px) {
    .carousel-control {
        width: 40px;
        top: 9% !important; }
}

@media (min-width: 501px) {
    .carousel-control {
        top: 20% !important; }
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    left: 0;
    color: grey; }




/*----------------------------------------------------------------------------*/
/*--------------------------------- NAVBAR -----------------------------------*/
/*----------------------------------------------------------------------------*/


.navbar {
    border-width: 0;
    font-family: 'Alegreya Sans SC', sans-serif; }

.navbar-default .navbar-brand {
    color: #000000; }

.nav-brand-name {
	padding: 10px 0px 10px 10px !important;
    font-size: 22px;
    font-family: 'Muli', sans-serif; }

	.nav-brand-name img {
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    margin-right: 5px; }

	.nav-brand-name span {
	    vertical-align: middle; }

.navbar-nav {
    border: none;
    margin-top: 0;
    margin-bottom: 0; }

.navbar-nav > li > .nav-updateme {
    padding: 0 !important; }

.navbar-nav > li > .nav-updateme button:hover {
    background-color: #49cae7;
    color: white; 
    border-color: #49cae7;}

.navbar-nav .nav-dropdown-updateme {
    background-color: #49cae7;
}

.navbar-nav .nav-dropdown-updateme:hover {
    background-color: #78d8ed;
}

.navbar-nav .nav-dropdown-updateme span {
    color: white;
}

.nav-button {
    margin-right: 15px;
    margin-left: 15px;
    width: 140px;  

    /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }

.nav-button:focus,
.nav-button:active {
    outline: none !important; }

.nav-links {
    /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }

.nav-links:hover {
    background-color: #dddddd; }


/*----------------------------------------------------------------------------*/
/*--------------------------------- FOOTER -----------------------------------*/
/*----------------------------------------------------------------------------*/


.footer { 
    background-color: #252525; 
    display: block;
    padding: 80px 0;
    color: white;
    width: 100%; 

    -webkit-box-shadow: inset 0px 0px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 14px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 14px 3px rgba(0,0,0,0.75); }


/*----------------------------------------------------------------------------*/
/*-------------------------------- LAYOUT ------------------------------------*/
/*----------------------------------------------------------------------------*/


.index-section-1 {
    display: block;
    height: 100%;
    min-height: 100%;
    width: 100%; 
    padding-top: 50px;

	/* Cover background for homepage */
	background: url(/static/media/images/dog_background_blur_3.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

.index-banner-top {
	background-color: rgba(0,0,0,0.3);
    width: 100%;
    padding: 8px 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    text-align: center;
    color: #ffffff; }

.index-topheading-container {
    display: block;
    width: 60%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;

    /* Vertically Center Text */
    position: relative;
    top: 50%;
    left: 64%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translate(-50%);
    transform: translateY(-50%) translate(-50%); }

    @media (max-width: 1199px) {
        .index-topheading-container {
            width: 60%;
            top: 50%;
            left: 60%; }
    }

    @media (max-width: 991px) {
        .index-topheading-container {
            width: 90%;
            top: 50%;
            left: 50%; }
    }

    .index-topheading-container > div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        width: 150px;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-radius: 20px;
        font-size: 16px; 

        /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out; }

    /* The ghost, nudged to maintain perfect centering */
    .index-topheading-container > div:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; } 	/* Adjusts for spacing */

    .index-topheading-container > div:hover {
        background-color: rgba(210,210,210,0.2);
        cursor: pointer;
        cursor: hand; }

	.index-topheading-container > div > div {
        display: inline-block;
        vertical-align: middle; }

    .index-topheading-container > .index-heading {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 40px; }

    .index-topheading-container > .index-subheading {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 20px; }

/*.index-popup-container {                         *** REVISIT FOR POPUP VIDEO ***
    background-color: rgba(40,40,40,0.9);
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    color: #000000; }

.index-popup {
    background-color: rgba(40,40,40,1);
    width: 65%;
    color: #000000;

    /* Center Popup */
    /*position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translate(-50%);
    transform: translateY(-50%) translate(-50%); }

    .index-popup > div {
        background-color: rgba(40,40,40,1);
        height: 0;
        padding: 0;
        padding-bottom: 56.25%; }*/

.index-section-2 {}

	.index-section-2 > .row {
	    padding-top: 100px;
	    padding-bottom: 100px; }

    .index-section-2 .description-container {
        text-align: center; }

    @media (min-width: 1200px) {
        .index-section-2 .description-container {
            padding-top: 100px; }
    }

    @media (max-width: 1199px) {
        .index-section-2 .description-container {
            padding-top: 60px; }
    }

    .index-section-2 .description-container > p {
        clear: both; }

    .index-section-2 .description-container > a > div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        width: 230px;
        text-align: center;
        color: white;
        border-radius: 3px;
        font-size: 16px; 

        /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out; }

    /* The ghost, nudged to maintain perfect centering */
    .index-section-2 .description-container > a > div:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; }    /* Adjusts for spacing */

    .index-section-2 .description-container > a > div:hover {
        background-color: #78d8ed;
        color: white;
        cursor: pointer;
        cursor: hand; }

    .index-section-2 .description-container > a > div > div{
        display: inline-block;
        vertical-align: middle; }

    .index-section-2 .image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; }

.index-section-3 {
    padding-top: 80px;
    padding-bottom: 80px; }

    .index-section-3 > .row > div {
        padding-top: 20px;
        padding-bottom: 20px; 
        text-align: center; }

    .index-section-3 img {
        display: block;
        margin: 0 auto 15px; auto; }

    .index-section-3 span {
        display: block; }

    .index-section-3 p {
        margin-bottom: 10px; }

.index-section-4 {}

    .index-section-4 > .row {
        padding-top: 100px;
        padding-bottom: 100px; }

    .index-section-4 .image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; }

    .index-section-4 .description-container {
        text-align: center; }

    @media (min-width: 1200px) {
        .index-section-4 .description-container {
            padding-top: 90px; }
    }

    @media (max-width: 1199px) {
        .index-section-4 .description-container {
            padding-top: 60px; }
    }

    .index-section-4 .description-container > p {
        clear: both; }

    .index-section-4 .description-container > a > div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        width: 150px;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-radius: 20px;
        font-size: 16px; 

        /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out; }

    /* The ghost, nudged to maintain perfect centering */
    .index-section-4 .description-container > a > div:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; }    /* Adjusts for spacing */

    .index-section-4 .description-container > a > div:hover {
        background-color: #49cae7;
        cursor: pointer;
        cursor: hand; }

    .index-section-4 .description-container > a > div > div{
        display: inline-block;
        vertical-align: middle; }

.index-section-5 {
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Raleway', sans-serif; }

    .index-section-5 > .feats-row {
        padding-top: 40px; }

    .index-section-5 .main-image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align:center; }

@media (max-width: 767px) {
    .feat-container-left > .row1,
    .feat-container-right > .row1 {
        margin-top: 30px; }

    .feat-container-left > .row2,
    .feat-container-left > .row3,
    .feat-container-right > .row2,
    .feat-container-right > .row3 {
        margin-top: 30px; }
}

@media (min-width: 768px) {
    .feat-container-left > .row1,
    .feat-container-right > .row1 {
        margin-top: 40px; }

    .feat-container-left > .row2,
    .feat-container-left > .row3,
    .feat-container-right > .row2,
    .feat-container-right > .row3 {
        margin-top: 30px; }
}

@media (min-width: 1200px) {
    .feat-container-left > .row1,
    .feat-container-right > .row1 {
        margin-top: 30px; }

    .feat-container-left > .row2,
    .feat-container-left > .row3,
    .feat-container-right > .row2,
    .feat-container-right > .row3 {
        margin-top: 70px; }
}

.feats-xs div {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto; }

.feats-left {
    text-align: right; }

.feats-right {
    text-align: left; }

.features-section-1 {
    font-family: 'Raleway', sans-serif; 
    padding-top: 150px;
    padding-bottom: 100px; }

    .features-section-1 .image-container img {
        display: block;
        margin: 0 auto; }

    @media (max-width: 767px) {
        .features-section-1 .features-container {
            padding-top: 20px; }

        .features-section-1 .features-container > div {
            display: block;
            width: 90%;
            margin: 0 auto; }

        .features-section-1 .features-container img,
        .features-section-1 .features-container span,
        .features-section-1 .features-container p,
        .features-section-1 .features-container a {
            margin-left: 10px; }
    }

    @media (min-width: 768px) {
        .features-section-1 .features-container {
            padding-top: 20px; }

        .features-section-1 .features-container img,
        .features-section-1 .features-container span,
        .features-section-1 .features-container p,
        .features-section-1 .features-container a {
            margin-left: 10px; }

        .features-section-1 .features-container > div {
            display: block;
            width: 90%;
            margin: 0 auto; }
    }

    @media (min-width: 992px) {
        .features-section-1 .features-container {
            padding-top: 0; }
    }

    @media (min-width: 1200px) {
        .features-section-1 .features-container {
            padding-top: 40px; }
    }

    .features-section-1 .features-container .feature-section-1-heading {
        display: block;
        padding: 10px 0 5px 0;
        font-size: 26px; }

    .features-section-1 .features-container p {
        display: block;
        font-size: 14px; }

    .features-section-1 .features-learnmore {
        display: block;
        margin-top: 10px; }

    .features-section-1 .features-container .featureLocation,
    .features-section-1 .features-container .featureActivity,
    .features-section-1 .features-container .featureSafety {
        display: none; }

    .features-section-1 .selector-container > div {
        display: block;
        width: 533px;
        padding: 0 !important;
        padding-top: 70px !important;
        margin: 0 auto; }

    .features-section-1 .selector-container > div > div {
        display: inline-block;
        width: 130px;
        text-align: center;
        border-top-style: solid;
        border-top-width: 2px;
        border-color: #e6e6e6; 

        /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

        -webkit-transition: border-color 300ms ease-out;
        -moz-transition: border-color 300ms ease-out;
        -o-transition: border-color 300ms ease-out;
        transition: border-color 300ms ease-out; }

    .features-section-1 .selector-container > div > div:hover {
        border-color: #49cae7 !important;
        cursor: pointer;
        cursor: hand; }

    .features-section-1 .selector-container .health {
        border-color: #49cae7; }

    .features-section-1 .selector-container span {
        display: block;
        margin: 15px auto 0 auto;
    }

    .features-section-1 .selector-container img {
        display: block;
        margin: 20px auto 0 auto; }

.features-section-2 {}

    .features-section-2 > .row {
        padding-top: 100px;
        padding-bottom: 100px; }

    .features-section-2 .feature-description-container > span {
        display: block;
        width: 100%;
        margin-bottom: 30px; }

    .features-section-2 > .row > span {
        display: block;
        text-align: center; }

    .features-section-2 > .row > div > div {
        margin-top: 10px;}

    @media (max-width: 767px) {
        .features-section-2 .feature-description-container img {
            display: block;
            float: none;
            margin: 0 auto 15px auto; }

        .features-section-2 .feature-description-container > div {
            display: block;
            width: 70%;
            margin: 0 auto; }

        .features-section-2 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px; }

        .features-section-2 .feature-description-container > div > div > p {
            text-align: center; }
    }    

    @media (min-width: 768px) {
        .features-section-2 .feature-description-container img {
            display: block;
            float: none;
            margin: 0 auto 15px auto; }

        .features-section-2 .feature-description-container > div {
            display: block;
            width: 70%;
            margin: 0 auto; }

        .features-section-2 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center; }

        .features-section-2 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px; }

        .features-section-2 .feature-description-container > div > div > p {
            text-align: center; }
    }

    @media (min-width: 992px) {
        .features-section-2 .feature-description-container > span {
            margin-top: 10px; }

        .features-section-2 .feature-description-container > div {
            display: block;
            width: 100%; }

        .features-section-2 .feature-description-container > div > div {
            padding-left: 20px !important; }

        .features-section-2 .feature-description-container img {
            float: left; }

        .features-section-2 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: left;
            margin-bottom: 10px; }

        .features-section-2 .feature-description-container > div > div > p {
            text-align: left; }
    }

    @media (min-width: 1200px) {
        .features-section-2 .feature-description-container > span {
            margin-top: 55px; }
    }

    .features-section-2 .feature-description-container > div > div > span {
        display: block;
        margin-bottom: 10px; }

    .features-section-2 .image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 15px 0 15px 0;
        text-align: center; }

.features-section-3 {}

    .features-section-3 > .row {
        padding-top: 100px;
        padding-bottom: 100px; }

    .features-section-3 .feature-description-container > span {
        display: block;
        width: 100%;
        margin-bottom: 30px; }

    .features-section-3 > .row > span {
        display: block;
        text-align: center; }

    .features-section-3 > .row > div > div {
        margin-top: 10px;}

    @media (max-width: 767px) {
        .features-section-3 .feature-description-container img {
            display: block;
            float: none;
            margin: 0 auto 15px auto; }

        .features-section-3 .feature-description-container > div {
            display: block;
            width: 70%;
            margin: 0 auto; }

        .features-section-3 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px; }

        .features-section-3 .feature-description-container > div > div > p {
            text-align: center; }
    }    

    @media (min-width: 768px) {
        .features-section-3 .feature-description-container img {
            display: block;
            float: none;
            margin: 0 auto 15px auto; }

        .features-section-3 .feature-description-container > div {
            display: block;
            width: 70%;
            margin: 0 auto; }

        .features-section-3 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center; }

        .features-section-3 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px; }

        .features-section-3 .feature-description-container > div > div > p {
            text-align: center; }
    }

    @media (min-width: 992px) {
        .features-section-3 .feature-description-container > span {
            margin-top: 80px; }

        .features-section-3 .feature-description-container > div {
            display: block;
            width: 100%; }

        .features-section-3 .feature-description-container > div > div {
            padding-left: 20px !important; }

        .features-section-3 .feature-description-container img {
            float: left; }

        .features-section-3 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: left;
            margin-bottom: 10px; }

        .features-section-3 .feature-description-container > div > div > p {
            text-align: left; }
    }

    @media (min-width: 1200px) {
        .features-section-3 .feature-description-container > span {
            margin-top: 120px; }
    }

    .features-section-3 .feature-description-container > div > div > span {
        display: block;
        margin-bottom: 10px; }

    .features-section-3 .image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 15px 0 15px 0;
        text-align: center; }

.features-section-4 {}

    .features-section-4 > .row {
        padding-top: 100px;
        padding-bottom: 100px; }

    .features-section-4 .feature-description-container > span {
        display: block;
        width: 100%;
        margin-bottom: 30px; }

    .features-section-4 > .row > span {
        display: block;
        text-align: center; }

    .features-section-4 > .row > div > div {
        margin-top: 10px;}

    @media (max-width: 767px) {
        .features-section-4 .feature-description-container img {
            display: block;
            float: none;
            margin: 0 auto 15px auto; }

        .features-section-4 .feature-description-container > div {
            display: block;
            width: 70%;
            margin: 0 auto; }

        .features-section-4 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px; }

        .features-section-4 .feature-description-container > div > div > p {
            text-align: center; }
    }    

    @media (min-width: 768px) {
        .features-section-4 .feature-description-container img {
            display: block;
            float: none;
            margin: 0 auto 15px auto; }

        .features-section-4 .feature-description-container > div {
            display: block;
            width: 70%;
            margin: 0 auto; }

        .features-section-4 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center; }

        .features-section-4 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px; }

        .features-section-4 .feature-description-container > div > div > p {
            text-align: center; }
    }

    @media (min-width: 992px) {
        .features-section-4 .feature-description-container > span {
            margin-top: 80px; }

        .features-section-4 .feature-description-container > div {
            display: block;
            width: 100%; }

        .features-section-4 .feature-description-container > div > div {
            padding-left: 20px !important; }

        .features-section-4 .feature-description-container img {
            float: left; }

        .features-section-4 .feature-description-container > div > div > span {
            display: block;
            width: 100%;
            text-align: left;
            margin-bottom: 10px; }

        .features-section-4 .feature-description-container > div > div > p {
            text-align: left; }
    }

    @media (min-width: 1200px) {
        .features-section-4 .feature-description-container > span {
            margin-top: 120px; }
    }

    .features-section-4 .feature-description-container > div > div > span {
        display: block;
        margin-bottom: 10px; }

    .features-section-4 .image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 15px 0 15px 0;
        text-align: center; }

.features-section-5 {}

    .features-section-5 > .row {
        padding-top: 100px;
        padding-bottom: 100px; }

    .features-section-5 .feature-description-container > span {
        display: block;
        width: 100%;
        margin-bottom: 30px; }

    .features-section-5 > .row > span {
        display: block;
        text-align: center; }

    @media (max-width: 767px) {

    }    

    @media (min-width: 768px) {

    }

    @media (min-width: 992px) {
        .features-section-5 .feature-description-container > span {
            margin-top: 80px; }
    }

    @media (min-width: 1200px) {
        .features-section-5 .feature-description-container > span {
            margin-top: 120px; }
    }

    .features-section-5 .feature-description-container > div > div > span {
        display: block;
        margin-bottom: 10px; }

    .features-section-5 .image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 15px 0 15px 0;
        text-align: center; }

.about-us-top-header {
    height: 50%;
    margin-top: 50px; 

    /* Cover background for about-us */
    background: url(/static/media/images/dog_sunset_background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.about-us-section-1 {
    padding: 70px 0px 80px 0px; }

.about-us-story-container {
    text-align: center;
    color: #777777; }

    .about-us-story-container hr {
        border-color: #49cae7;
        border-width: 1.5px;
        width: 85px;
        margin: 15px auto 25px auto; }

.about-us-section-2 {
	padding: 40px 0px; }

.about-us-team-container {}

	.about-us-team-container > .row {
		padding: 15px 0px; }

/* 768px (MOBILE) */

@media (min-width: 769px) {
    .about-us-team-description > h3 > br {
        display: none; }
}

@media (max-width: 768px) {
    .about-us-team-description > h3 > br {
        display: block; }
}

/* 991px (TABLET) */

@media (min-width: 992px) {
	.about-us-team-description {
		padding-left: 0px; }
}

@media (max-width: 991px) {
    .about-us-team-container > .row {
        padding: 15px 0px; }

	.about-us-team-description {
		margin-top: 25px; }
}

.subscribe-main-section {
    display: block;
    height: 100%;
    min-height: 100%;
    width: 100%; 
    padding-top: 50px;

    /* Cover background for homepage */
    background: url(/static/media/images/dog_background_blur_2.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.subscribe-form-container {
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;

    /* Vertically Center Text */
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translate(-50%);
    transform: translateY(-50%) translate(-50%); }

    .subscribe-form-container > .subscribe-form-heading {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: center;
            font-size: 40px; }

    .subscribe-form-container > .subscribe-form-subheading {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: center;
            font-size: 20px; }

    .subscribe-form-container .subscribe-name-input {
        height: 35px; }

    .subscribe-form-container .subscribe-email-input {
        height: 35px; }

    .subscribe-form-container .subscribe-submit-btn {
        background-color: #49cae7;
        height: 34px;
        border-color: #49cae7;

        /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out; }

    .subscribe-form-container .subscribe-submit-btn:hover {
        background-color: #1aabcb;
        border-color: #1aabcb; }

@media (max-width: 500px) {
    .subscribe-form-container {
        text-align: center; }

    .subscribe-form-container form {
        display: inline-block; }

    .subscribe-form-container .subscribe-name-input {
        display: block;
        width: 230px; }

    .subscribe-form-container .subscribe-email-input {
        display: block;
        width: 230px;
        margin-top: 15px; }

    .subscribe-form-container .subscribe-submit-btn {
        display: inline-block;
        width: 230px;
        margin-top: 15px; }
}

@media (min-width: 501px) {
    .subscribe-form-container {
        text-align: center; }

    .subscribe-form-container form {
        display: inline-block; }

    .subscribe-form-container .subscribe-name-input {
        display: block;
        width: 350px; }

    .subscribe-form-container .subscribe-email-input {
        display: block;
        width: 350px;
        margin-top: 15px; }

    .subscribe-form-container .subscribe-submit-btn {
        display: inline-block;
        width: 350px;
        margin-top: 15px; }
}

@media (min-width: 768px) {
    .subscribe-form-container {
        text-align: center; }

    .subscribe-form-container form {
        display: inline-block; }

    .subscribe-form-container .subscribe-name-input {
        display: inline-block;
        width: 150px; 
        margin-right: 5px; }

    .subscribe-form-container .subscribe-email-input {
        display: inline-block;
        width: 300px; 
        margin-right: 5px; }

    .subscribe-form-container .subscribe-submit-btn {
        display: inline-block;
        width: 125px;
        margin-top: 0; }
}


/*----------------------------------------------------------------------------*/
/*-------------------------------- LINKS -------------------------------------*/
/*----------------------------------------------------------------------------*/


.index-section-3 a {
    color: #49cae7;
    font-size: 13px;

    /* APPLY TRANSITION DELAY FOR BACKGROUND_COLOR */

    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }


/*----------------------------------------------------------------------------*/
/*------------------------------ TYPOGRAPHY ----------------------------------*/
/*----------------------------------------------------------------------------*/


/*.index-video-button span {                *** REVISIT FOR POPUP VIDEO ***
    display: inline-block;
    width: auto; 
    font-size: 14px; } */

.index-section-2 .description-container > span {
    display: inline-block;
    width: 70%;
    font-size: 30px;
    color: #141414;
    font-family: 'Raleway', sans-serif; }

.index-section-2 .description-container > p {
    display: inline-block;
    width: 90%;
    padding-top: 10px;
    font-size: 14px;
    color: #999999;
    font-family: 'Raleway', sans-serif; }

.index-section-2 .description-container > a:hover {
    text-decoration: none; }

.index-section-2 .description-container > a > div:hover {
    color: white; }

.index-section-3 span {
    font-family: 'Raleway', sans-serif;
    font-size: 18px; }

.index-section-3 p {
    color: #999999;
    font-size: 12px; }

.index-section-4 .description-container > span {
    display: inline-block;
    width: 70%;
    font-size: 30px;
    color: #141414;
    font-family: 'Raleway', sans-serif; }

.index-section-4 .description-container > p {
    display: inline-block;
    width: 90%;
    padding-top: 10px;
    font-size: 14px;
    color: #999999;
    font-family: 'Raleway', sans-serif; }

.index-section-4 .description-container > a:hover {
    text-decoration: none; }

.index-section-4 .description-container > a > div:hover {
    color: white; }

.index-section-4 .description-container > a > div {
    color: #49cae7; }

span.index-features-header {
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px; }

span.index-features-subheader {
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px; }

.features-container .features-learnmore {
    font-size: 14px;
    color: #49cae7; }

.features-container .features-learnmore:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand; }

.features-section-1 .selector-container span {
    font-size: 12px; }

.features-section-2 {
    font-family: 'Raleway', sans-serif; }

    .features-section-2 > .row > span {
        font-size: 30px; }

    .features-section-2 .feature-description-container > span {
        font-size: 30px; }

    .features-section-2 .feature-description-container > div > div {
        font-size: 12px;
        color: #888888; }

    .features-section-2 .feature-description-container > div > div span {
        color: black;
        font-size: 20px; }

.features-section-3 {
    font-family: 'Raleway', sans-serif; }

    .features-section-3 > .row > span {
        font-size: 30px; }

    .features-section-3 .feature-description-container > span {
        font-size: 30px; }

    .features-section-3 .feature-description-container > div > div {
        font-size: 12px;
        color: #888888; }

    .features-section-3 .feature-description-container > div > div span {
        color: black;
        font-size: 20px; }

.features-section-4 {
    font-family: 'Raleway', sans-serif; }

    .features-section-4 > .row > span {
        font-size: 30px; }

    .features-section-4 .feature-description-container > span {
        font-size: 30px; }

    .features-section-4 .feature-description-container > div > div {
        font-size: 12px;
        color: #888888; }

    .features-section-4 .feature-description-container > div > div span {
        color: black;
        font-size: 20px; }

.features-section-5 {
    font-family: 'Raleway', sans-serif; }

    .features-section-5 > .row > span {
        font-size: 30px; }

    .features-section-5 .feature-description-container > span {
        font-size: 30px; }

.about-us-story-container span {
    width: auto;
    font-size: 40px; }

.about-us-story-container p {
    padding: 0 10%; }

@media (max-width: 768px) {
    .about-us-story-container p {
        padding: 0; }
}

.about-us-team-description > h3 {
	font-size: 24px; }

.about-us-team-description > p {
	margin-top: 10px; }


/*----------------------------------------------------------------------------*/
/*----------------------------- FORM ELEMENTS --------------------------------*/
/*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*/
/*--------------------------------- MEDIA ------------------------------------*/
/*----------------------------------------------------------------------------*/


/*.index-popup img {                    *** REVISIT FOR POPUP VIDEO ***
	width: 20px; 
    height: 20px;
    position: absolute;
    left: 100%;
    bottom: 100%; }

.index-popup img:hover {
    cursor: pointer;
    cursor: hand; }

.index-popup iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }*/

@media (max-width: 500px) {
    .index-section-2 img {
        width: 230px;
        height: auto; }

    .index-section-4 img {
        width: 230px; 
        height: auto; }

    .index-section-5 .main-image-container > img {
        width: 230px; 
        height: auto; }
}

@media (min-width: 501px) {
    .index-section-2 img {
        width: 400px;
        height: auto; }

    .index-section-4 img {
        width: 400px; 
        height: auto; }

    .index-section-5 .main-image-container > img {
        width: 400px; 
        height: auto; }
}

@media (min-width: 768px) {
    .index-section-2 img {
        width: 500px;
        height: auto; }

    .index-section-4 img {
        width: 500px; 
        height: auto; }

    .index-section-5 .main-image-container > img {
        width: 500px; 
        height: auto; }
}

@media (min-width: 992px) {
    .index-section-5 .main-image-container > img {
        width: 500px; 
        height: auto; }
}

@media (min-width: 1200px) {
    .index-section-5 .main-image-container > img {
        width: 380px; 
        height: auto; }
}

.index-section-3 img {
    width: 150px;
    height: auto; }

.feats-xs img {
    margin-right: 10px;
    width: 60px;
    height: 60px; }

.feats-left img {
    margin-left: 10px;
    width: 60px;
    height: 60px; }

.feats-right img {
    margin-right: 10px;
    width: 60px;
    height: 60px; }

.carousel-control img {
    display: inline-block;
    position: relative;
    width: 40px;
    height: auto;
    padding: 0;
    margin: 0;
    left: 0;
    color: grey; }

@media (max-width: 500px) {
    .features-section-1 .image-container img {
        width: 200px;
        height: auto; }

    .features-section-1 .features-container img {
        width: 70px;
        height: auto; }

    .features-section-2 .image-container img {
        width: 230px;
        height: auto; }

    .features-section-3 .image-container img {
        width: 230px;
        height: auto; }

    .features-section-4 .image-container img {
        width: 230px;
        height: auto; }

    .features-section-5 .image-container img {
        width: 230px;
        height: auto; }
}

@media (min-width: 501px) {
    .features-section-1 .image-container img {
        width: 330px;
        height: auto; }

    .features-section-1 .features-container img {
        width: 70px;
        height: auto; }

    .features-section-2 .image-container img {
        width: 330px;
        height: auto; }

    .features-section-3 .image-container img {
        width: 330px;
        height: auto; }

    .features-section-4 .image-container img {
        width: 330px;
        height: auto; }

    .features-section-5 .image-container img {
        width: 330px;
        height: auto; }
}

@media (min-width: 768px) {
    .features-section-1 .image-container img {
        width: 330px;
        height: auto; }

    .features-section-1 .features-container img {
        width: 70px;
        height: auto; }

    .features-section-2 .image-container img {
        width: 450px;
        height: auto; }

    .features-section-3 .image-container img {
        width: 450px;
        height: auto; }

    .features-section-4 .image-container img {
        width: 450px;
        height: auto; }

    .features-section-5 .image-container img {
        width: 450px;
        height: auto; }
}

@media (min-width: 992px) {
    .features-section-1 .image-container img {
        width: 400px;
        height: auto; } 

    .features-section-2 .image-container img {
        width: 425px;
        height: auto; }

    .features-section-3 .image-container img {
        width: 425px;
        height: auto; }

    .features-section-4 .image-container img {
        width: 425px;
        height: auto; }

    .features-section-5 .image-container img {
        width: 425px;
        height: auto; }
}

@media (min-width: 1200px) {
    .features-section-1 .image-container img {
        width: 500px;
        height: auto; } 

    .features-section-2 .image-container img {
        width: 500px;
        height: auto; }

    .features-section-3 .image-container img {
        width: 500px;
        height: auto; }

    .features-section-4 .image-container img {
        width: 500px;
        height: auto; }

    .features-section-5 .image-container img {
        width: 500px;
        height: auto; }
}

.features-section-1 .selector-container img {
    width: 70px;
    height: auto; }

.features-section-2 .feature-description-container img {
    width: 55px;
    height: auto;
}

.features-section-3 .feature-description-container img {
    width: 55px;
    height: auto;
}

.features-section-4 .feature-description-container img {
    width: 55px;
    height: auto;
}

.about-us-portrait-container img {
	display: block;
	width: 160px;
	height: 180px; 
	margin: auto;
	border-radius: 5px; }


/*----------------------------------------------------------------------------*/
/*---------------------------- GENERAL STYLES --------------------------------*/
/*----------------------------------------------------------------------------*/

/* FONTS */

.font-raleway {
	font-family: 'Raleway', sans-serif; }

/* BACKGROUND COLORS */

.background-purple {
	background-color: #862d86; }

.background-blue {
    background-color: #49cae7; } 

.background-darkgrey {
    background-color: #444444; }

.background-lightgrey {
    background-color: #f9f9f9; }

.background-orange {
    background-color: #e28c36; }

/* BORDER COLORS */

.border-blue {
    border-color: #49cae7;}
