<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>About Us</title>
        <meta charset=utf-8 />

        <!-- Favicon Import -->
        <link   rel="icon" 
                href="{% static 'media/images/favicon/favicon.ico' %}">

        <!-- Bootstrap Stylesheets -->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- External Stylesheets -->
        <link   rel="stylesheet"
                type="text/css" 
                href="{% static 'css/master.css' %}">

        <!-- Google Web Fonts -->
        <link   rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <link   href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" 
                rel="stylesheet">
        <link   href="https://fonts.googleapis.com/css?family=Muli" 
                rel="stylesheet">    

        <!-- JQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript Library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
        
    <body>
        {% include "navbar.html" %}

        <div class="about-us-top-header first-div"></div>

        <div class="about-us-section-1">
            <div class="container-fluid font-raleway">
                <div class="row">
                    <div class="col-xs-1"></div>

                    <div class="col-xs-10 about-us-story-container">
                        <span class="section-header-title">Our Story</span>
                        
                        <hr class="border-blue">

                        <p class="color-grey">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            <br><br>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
                        </p>
                    </div>

                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row section-header-container background-blue">
                <div class="col-xs-12 color-white">
                    <span class="section-header-title">Our Team</span>
                    <span class="section-header-subheader">Have a look at who is behind the Kynect Monitoring Collar</span>
                </div>
            </div>
        </div>

        <div class="container-fluid font-raleway">
            <div class="row about-us-section-2">
                <div class="col-xs-1"></div>

                <div class="col-xs-10 about-us-team-container">
                    <div class="row">
                        <!-- Jim McGlade Information -->
                        <div class="col-md-3 about-us-portrait-container">
                            <img src="{% static 'media/images/portrait_placeholder_1.png' %}">
                        </div>

                        <div class="col-md-9 about-us-team-description">
                            <h3>Jim McGlade <br /><small>Co-Founder, CEO</small></h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Marco Prouve Information -->
                        <div class="col-md-3 about-us-portrait-container">
                            <img src="{% static 'media/images/portrait_placeholder_1.png' %}">
                        </div>

                        <div class="col-md-9 about-us-team-description">
                            <h3>Marco Prouve <br /><small>Co-Founder, CTO</small></h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Mehdi Shokoueinejad Information -->
                        <div class="col-md-3 about-us-portrait-container">
                            <img src="{% static 'media/images/portrait_placeholder_1.png' %}">
                        </div>

                        <div class="col-md-9 about-us-team-description">
                            <h3>Mehdi Shokoueinejad <br /><small>Chief of Hardware Development</small></h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Fa Wang Information -->
                        <div class="col-md-3 about-us-portrait-container">
                            <img src="{% static 'media/images/portrait_placeholder_1.png' %}">
                        </div>

                        <div class="col-md-9 about-us-team-description">
                            <h3>Fa Wang <br /><small>Lead Hardware Engineer</small></h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-1"></div>
            </div>
        </div>

        {% include "footer.html" %}
    </body>
</html>