<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>Kynect - Monitoring Collar</title>
        <meta charset=utf-8 />

        <!-- Bootstrap Stylesheets -->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- External Stylesheets -->
        <link   rel="stylesheet"
                type="text/css" 
                href="{% static 'css/master.css' %}">

        <!-- Google Web Fonts -->
        <link   rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <link   href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" 
                rel="stylesheet">
        <link   href="https://fonts.googleapis.com/css?family=Muli" 
                rel="stylesheet">    

        <!-- JQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript Library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="features-section-1 container-fluid">
            <div class="row">
                <div class="col-md-1 hidden-xs hidden-sm"></div>

                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-md hidden-lg image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-md-5 hidden-xs hidden-sm image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <div class="col-xs-12 col-md-5 features-container">
                    <div>
                        <img src="/static/media/images/feat_image_placeholder.jpg">

                        <br />

                        <span>Health Monitoring</span>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

                        <a href="/features/#features-activity">Learn More</a>
                    </div>
                </div>

                <div class="col-lg-1 visible-lg"></div>
            </div>
        </div>

        <div class="features-section-2 container-fluid background-lightgrey" id="features-health">
            <div class="row">
                <div class="col-lg-1 visible-lg"></div>

                <div class="col-lg-5 visible-lg features-container">
                    
                </div>

                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-lg-6 visible-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <div class="col-xs-12 hidden-lg features-container">
                    
                </div>
            </div>
        </div>

        <div class="features-section-3 container-fluid" id="features-location">
            <div class="row">
                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-lg-6 visible-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <div class="col-xs-12 col-lg-5 features-container">
                    
                </div>

                <div class="col-lg-1 visible-lg"></div>
            </div>
        </div>

        <div class="features-section-4 container-fluid background-lightgrey" id="features-activity">
            <div class="row">
                <div class="col-lg-1 visible-lg"></div>

                <div class="col-lg-5 visible-lg features-container">
                    
                </div>

                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-lg-6 visible-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <div class="col-xs-12 hidden-lg features-container">
                    
                </div>
            </div>
        </div>

        <div class="features-section-5 container-fluid" id="features-safety">
            <div class="row">
                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-lg-6 visible-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <div class="col-xs-12 col-lg-5 features-container">
                    
                </div>

                <div class="col-lg-1 visible-lg"></div>
            </div>
        </div>

        {% include "footer.html" %}
        
        <!-- SCRIPTS GO HERE -->

        

        <!-- SCIPTS END HERE -->
    </body>
</html>