<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>Kynect - Monitoring Collar</title>
        <meta charset=utf-8 />

        <!-- Bootstrap Stylesheets -->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- External Stylesheets -->
        <link   rel="stylesheet"
                type="text/css" 
                href="{% static 'css/master.css' %}">

        <!-- Google Web Fonts -->
        <link   rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <link   href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" 
                rel="stylesheet">
        <link   href="https://fonts.googleapis.com/css?family=Muli" 
                rel="stylesheet">    

        <!-- JQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript Library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="features-section-1 container-fluid">
            <div class="row">
                <div class="col-md-1 hidden-xs hidden-sm"></div>

                <div class="col-md-5 hidden-xs hidden-sm image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <div id="carousel" class="carousel hidden-md hidden-lg" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item image-container active">
                            <img class="d-block img-fluid" src="/static/media/images/image_placeholder_2.png" alt="First slide">

                            <div class="col-xs-12 col-md-5 features-container">
                                <div>
                                    <img src="/static/media/images/icons/main_features/icon1_test.png">

                                    <span class="feature-section-1-heading">Health Monitoring</span>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <span class="features-learnmore color-blue" onclick="goToByScroll('features-health')">Learn More ></span>
                                </div>
                            </div>
                        </div>

                        <div class="item image-container">
                            <img class="d-block img-fluid" src="/static/media/images/image_placeholder_2.png" alt="Second slide">

                            <div class="col-xs-12 col-md-5 features-container">
                                <div>
                                    <img src="/static/media/images/icons/main_features/icon1_test.png">

                                    <span class="feature-section-1-heading">Location Services</span>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <span class="features-learnmore color-blue" onclick="goToByScroll('features-location')">Learn More ></span>
                                </div>
                            </div>
                        </div>

                        <div class="item image-container">
                            <img class="d-block img-fluid" src="/static/media/images/image_placeholder_2.png" alt="Third slide">

                            <div class="col-xs-12 col-md-5 features-container">
                                <div>
                                    <img src="/static/media/images/icons/main_features/icon1_test.png">

                                    <span class="feature-section-1-heading">Activity Tracking</span>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <span class="features-learnmore color-blue" onclick="goToByScroll('features-activity')">Learn More ></span>
                                </div>
                            </div>
                        </div>

                        <div class="item image-container">
                            <img class="d-block img-fluid" src="/static/media/images/image_placeholder_2.png" alt="Fourth slide">

                            <div class="col-xs-12 col-md-5 features-container">
                                <div>
                                    <img src="/static/media/images/icons/main_features/icon1_test.png">

                                    <span class="feature-section-1-heading">Safety & Security</span>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <span class="features-learnmore color-blue" onclick="goToByScroll('features-safety')">Learn More ></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control left" href="#carousel" role="button" data-slide="prev">
                        <img src="/static/media/images/menu-arrow-left.png" class="color-white">
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control right" href="#carousel" role="button" data-slide="next">
                        <img src="/static/media/images/menu-arrow-right.png" class="color-white">
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="col-xs-12 col-md-5 hidden-xs hidden-sm features-container">
                    <div class="featureHealth" id="featureHealth">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <br />

                        <span class="feature-section-1-heading">Health Monitoring</span>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                        <span class="features-learnmore color-blue" onclick="goToByScroll('features-health')">Learn More ></span>
                    </div>

                    <div class="featureLocation" id="featureLocation">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <br />

                        <span class="feature-section-1-heading">Location Services</span>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <span class="features-learnmore color-blue" onclick="goToByScroll('features-location')">Learn More ></span>
                    </div>

                    <div class="featureActivity" id="featureActivity">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <br />

                        <span class="feature-section-1-heading">Activity Tracking</span>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <span class="features-learnmore color-blue" onclick="goToByScroll('features-activity')">Learn More ></span>
                    </div>

                    <div class="featureSafety" id="featureSafety">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <br />

                        <span class="feature-section-1-heading">Safety & Security</span>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <span class="features-learnmore color-blue" onclick="goToByScroll('features-safety')">Learn More ></span>
                    </div>
                </div>

                <div class="col-lg-1 visible-lg"></div>
            </div>

            <div class="row hidden-xs hidden-sm selector-container">
                <div>
                    <div class="health border-blue" id="health" onclick="changeHealth()">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <span><b>Health Monitoring</b></span>
                    </div>

                    <div class="border-grey" id="location" onclick="changeLocation()">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <span><b>Location Services</b></span>
                    </div>

                    <div class="border-grey" id="activity" onclick="changeActivity()">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <span><b>Activity Tracking</b></span>
                    </div>

                    <div class="border-grey" id="safety" onclick="changeSafety()">
                        <img src="/static/media/images/icons/main_features/icon1_test.png">

                        <span><b>Safety & Security</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row section-header-container background-blue">
                <div class="col-xs-12 color-white">
                    <span class="section-header-title">Features</span>
                    <span class="section-header-subheader">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
            </div>
        </div>

        <div class="features-section-2 container-fluid background-lightgrey" id="features-health">
            <div class="row">
                <span class="hidden-md hidden-lg">Health Monitoring</span>

                <div class="col-md-1 hidden-xs hidden-sm"></div>

                <div class="col-md-5 hidden-xs hidden-sm feature-description-container">
                    <span>Health Monitoring</span>

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/001-music-1.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Medical Alerts</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <br />

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/037-medical.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Vital Sign Monitoring</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <br />

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/007-circle.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Health Recommendations</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>
                </div>

                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-md hidden-lg image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-md-6 hidden-xs hidden-sm image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <div class="col-xs-12 hidden-md hidden-lg feature-description-container">
                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/001-music-1.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Medical Alerts</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <br />

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/037-medical.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Vital Sign Monitoring</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <br />

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/007-circle.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Health Recommendations</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features-section-3 container-fluid" id="features-location">
            <div class="row">
                <span class="hidden-md hidden-lg">Location Services</span>

                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-md hidden-lg image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-md-6 hidden-xs hidden-sm image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <div class="col-xs-12 col-md-5 feature-description-container">
                    <span class="hidden-xs hidden-sm">Location Services</span>

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/blue/location-arrow.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Real-Time GPS</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <br />

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/blue/025-location.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Geofencing</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 hidden-xs hidden-sm"></div>
            </div>
        </div>

        <div class="features-section-4 container-fluid background-lightgrey" id="features-activity">
            <div class="row">
                <span class="hidden-md hidden-lg">Activity Tracking</span>

                <div class="col-md-1 hidden-xs hidden-sm"></div>

                <div class="col-md-5 hidden-xs hidden-sm feature-description-container">
                    <span>Activity Tracking</span>

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/015-stats.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Fitness Levels</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <br />

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/zzz.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Sleep Monitoring</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>
                </div>

                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-md hidden-lg image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-md-6 hidden-xs hidden-sm image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <div class="col-xs-12 hidden-md hidden-lg feature-description-container">
                    <span class="hidden-xs hidden-sm">Activity Tracking</span>

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/015-stats.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Fitness Levels</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <br />

                    <div class="media">
                        <img class="d-flex" src="/static/media/images/icons/orange/zzz.png" alt="Generic placeholder image">

                        <div class="media-body color-grey">
                            <span class="color-black">Sleep Monitoring</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features-section-5 container-fluid" id="features-safety">
            <div class="row">
                <span class="hidden-md hidden-lg">Safety & Security</span>

                <!-- Appears In Screen XS to MD-->
                <div class="col-xs-12 hidden-md hidden-lg image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-md-6 hidden-xs hidden-sm image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <div class="col-xs-12 col-md-5 feature-description-container">
                    <span class="hidden-xs hidden-sm">Safety & Security</span>

                    <div class="safety-features">
                        <input type="radio" name="rGroup" value="1" id="r1" checked="checked" />
                        <label class="radio safety-r1" for="r1" onclick="changeTemp()">
                            <img src="/static/media/images/icons/blue/032-low-temperature-thermometer.png">
                        </label>

                        <input type="radio" name="rGroup" value="1" id="r2"/>
                        <label class="radio safety-r2" for="r2" onclick="changeImpact()">
                            <img src="/static/media/images/icons/blue/023-interface.png">
                        </label>

                        <input type="radio" name="rGroup" value="1" id="r3"/>
                        <label class="radio safety-r3" for="r3" onclick="changeWater()">
                            <img src="/static/media/images/icons/blue/018-nature.png">
                        </label>

                        <input type="radio" name="rGroup" value="1" id="r4"/>
                        <label class="radio safety-r4" for="r4" onclick="changeLED()">
                            <img src="/static/media/images/icons/blue/012-idea.png">
                        </label>
                    </div>

                    <div class="media safety-temp" id="safety-temp">
                        <div class="media-body color-grey">
                            <span class="color-black">Temperature Monitoring</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <div class="media safety-impact" id="safety-impact">
                        <div class="media-body color-grey">
                            <span class="color-black">Impact Detection</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <div class="media safety-water" id="safety-water">
                        <div class="media-body color-grey">
                            <span class="color-black">Water Sensing</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>

                    <div class="media safety-led" id="safety-led">
                        <div class="media-body color-grey">
                            <span class="color-black">LED Lighting</span>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 hidden-xs hidden-sm"></div>
            </div>
        </div>

        {% include "footer.html" %}
        
        <!-- SCRIPTS GO HERE -->

        <script>

            // FUNCTION TO SCROLL TO SECTION BELOW
            function goToByScroll(id) {
                // Scroll
                $('body').animate({
                    scrollTop: $("#"+id).offset().top - 50},
                    'slow');
            }

            // GROUP OF FUNCTIONS TO CHANGE MAIN FEATURE DESCRIPTIONIN SECTION 1
            function changeHealth() {
                document.getElementById('featureHealth').style.display = 'block';
                document.getElementById('featureLocation').style.display = 'none';
                document.getElementById('featureActivity').style.display = 'none';
                document.getElementById('featureSafety').style.display = 'none';

                document.getElementById('health').style.borderColor = '#49cae7';
                document.getElementById('location').style.borderColor = '#e6e6e6';
                document.getElementById('activity').style.borderColor = '#e6e6e6';
                document.getElementById('safety').style.borderColor = '#e6e6e6';
            }

            function changeLocation() {
                document.getElementById('featureHealth').style.display = 'none';
                document.getElementById('featureLocation').style.display = 'block';
                document.getElementById('featureActivity').style.display = 'none';
                document.getElementById('featureSafety').style.display = 'none';

                document.getElementById('health').style.borderColor = '#e6e6e6';
                document.getElementById('location').style.borderColor = '#49cae7';
                document.getElementById('activity').style.borderColor = '#e6e6e6';
                document.getElementById('safety').style.borderColor = '#e6e6e6';
            }

            function changeActivity() {
                document.getElementById('featureHealth').style.display = 'none';
                document.getElementById('featureLocation').style.display = 'none';
                document.getElementById('featureActivity').style.display = 'block';
                document.getElementById('featureSafety').style.display = 'none';

                document.getElementById('health').style.borderColor = '#e6e6e6';
                document.getElementById('location').style.borderColor = '#e6e6e6';
                document.getElementById('activity').style.borderColor = '#49cae7';
                document.getElementById('safety').style.borderColor = '#e6e6e6';
            }

            function changeSafety() {
                document.getElementById('featureHealth').style.display = 'none';
                document.getElementById('featureLocation').style.display = 'none';
                document.getElementById('featureActivity').style.display = 'none';
                document.getElementById('featureSafety').style.display = 'block';

                document.getElementById('health').style.borderColor = '#e6e6e6';
                document.getElementById('location').style.borderColor = '#e6e6e6';
                document.getElementById('activity').style.borderColor = '#e6e6e6';
                document.getElementById('safety').style.borderColor = '#49cae7';
            }

            function changeTemp() {
                document.getElementById('safety-temp').style.display = 'block';
                document.getElementById('safety-impact').style.display = 'none';
                document.getElementById('safety-water').style.display = 'none';
                document.getElementById('safety-led').style.display = 'none';
            }

            function changeImpact() {
                document.getElementById('safety-temp').style.display = 'none';
                document.getElementById('safety-impact').style.display = 'block';
                document.getElementById('safety-water').style.display = 'none';
                document.getElementById('safety-led').style.display = 'none';
            }

            function changeWater() {
                document.getElementById('safety-temp').style.display = 'none';
                document.getElementById('safety-impact').style.display = 'none';
                document.getElementById('safety-water').style.display = 'block';
                document.getElementById('safety-led').style.display = 'none';
            }

            function changeLED() {
                document.getElementById('safety-temp').style.display = 'none';
                document.getElementById('safety-impact').style.display = 'none';
                document.getElementById('safety-water').style.display = 'none';
                document.getElementById('safety-led').style.display = 'block';
            }

        </script>

        <!-- SCIPTS END HERE -->
    </body>
</html>