<div id="footer">
	<div id="footerDivLeft">
		<div>
			<span>
				<a href="#"><img src="/static/media/site_images/facebook_rounded.png" style="width:30px; height:30px;"></a>
				<a href="#"><img src="/static/media/site_images/twitter_rounded.png" style="width:30px; height:30px;"></a>
				<a href="#"><img src="/static/media/site_images/instagram_rounded.png" style="width:30px; height:30px;"></a>
				<a href="#"><img src="/static/media/site_images/linkedin_rounded.png" style="width:30px; height:30px;"></a>
			</span>

			<span>
				<a href="#"><img src="/static/media/site_images/google_play_rounded.png" style="width:110px; height:40px;"></a>
				<a href="#"><img src="/static/media/site_images/apple_app_store_rounded.png" style="width:110px; height:40px;"></a>
			</span>
		</div>
	</div>

	<div id="footerDivRight">
		<div>
			<a href="/home/"><span>Home</span></a>
			<a href="/contact_us/"><span>Contact Us</span></a>
			<a href="#"><span>Careers</span></a>
			<a href="#"><span>Return Policy</span></a>
			<a href="#"><span>Legal</span></a>
		</div>
	</div>

	<div id="footerDivMiddle">
		<p>Eko Tracking Inc.</p>
		<p>&copy; 2017 Copyright Eko. All Rights Reserved</p>
	</div>
</div>