<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>Kynect - Monitoring Collar</title>
        <meta charset=utf-8 />

        <!-- Bootstrap Stylesheets -->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- External Stylesheets -->
        <link   rel="stylesheet"
                type="text/css" 
                href="{% static 'css/master.css' %}">

        <!-- Google Web Fonts -->
        <link   rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <link   href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" 
                rel="stylesheet">
        <link   href="https://fonts.googleapis.com/css?family=Muli" 
                rel="stylesheet">    

        <!-- JQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript Library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="index-section-1"> 
            <div class="index-banner-top">
                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
            </div>

            <div class="index-topheading-container">
                <span class="index-heading">Stay Kynected to Your Best Friend</span>
                <span class="index-subheading">Don't Wait Until It's Too Late</span>

                <br />

                <div onclick="goToByScroll('index-section-2')">
                    <div>Learn More</div>
                </div>

                <!-- BEGIN POPUP VIDEO -->

                <!--
                <div class="index-video-button" onclick="pop('popDiv')">
                    <div>Watch Video
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                </div>
                -->

                <!-- END POPUP VIDEO -->
            </div>

            <!-- BEGIN POPUP DIV -->

            <!--
            <div class="index-popup-container" id="popDiv">
                <div class="index-popup">
                    <div>
                        <img src="/static/media/images/close_button2.png" onclick="hide('popDiv')">

                        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI?autoplay=0" frameborder='0' allowFullScreen></iframe>
                    </div>
                </div>
            </div>
            -->

            <!-- END POPUP DIV -->
        </div>

        <div class="index-section-2 container-fluid" id="index-section-2">
            <div class="row">
                <div class="col-lg-1 visible-lg"></div>

                <div class="col-lg-5 visible-lg description-container">
                    <span>The Future of Pet Monitoring is Here.</span>

                    <br />

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                    <br /><br />

                    <a href="/subscribe/">
                        <div class="updateme background-blue">
                            <div>UPDATE ME</div>
                        </div>
                    </a>
                </div>

                <!-- Appears In Screen XS -->
                <div class="col-xs-12 visible-xs image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen SM and Up -->
                <div class="col-sm-12 visible-sm image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen MD and Up -->
                <div class="col-md-12 visible-md image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-lg-6 visible-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <div class="col-xs-12 hidden-lg description-container">
                    <span>The Future of Pet Monitoring is Here.</span>

                    <br />

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                    <br /><br />

                    <a href="/subscribe/">
                        <div class="background-blue">
                            <div>UPDATE ME</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="index-section-3 container-fluid background-lightgrey">
            <div class="row">
                <div class="col-xs-2"></div>

                <div class="col-xs-8 col-sm-4 col-lg-2">
                    <img src="/static/media/images/placeholder_image_square.png">

                    <span>Health Monitoring</span>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>

                    <a href="/features/">Learn More</a>
                </div>

                <div class="col-xs-2 visible-xs"></div>
                <div class="clearfix visible-xs"></div>
                <div class="col-xs-2 visible-xs"></div>

                <div class="col-xs-8 col-sm-4 col-lg-2">
                    <img src="/static/media/images/placeholder_image_square.png">

                    <span>Safety & Security</span>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>

                    <a href="/features/">Learn More</a>
                </div>

                <div class="col-xs-2 hidden-lg"></div>
                <div class="clearfix hidden-lg"></div>
                <div class="col-xs-2 hidden-lg"></div>

                <div class="col-xs-8 col-sm-4 col-lg-2">
                    <img src="/static/media/images/placeholder_image_square.png">

                    <span>GPS Location</span>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>

                    <a href="/features/">Learn More</a>
                </div>

                <div class="col-xs-2 visible-xs"></div>
                <div class="clearfix visible-xs"></div>
                <div class="col-xs-2 visible-xs"></div>

                <div class="col-xs-8 col-sm-4 col-lg-2">
                    <img src="/static/media/images/placeholder_image_square.png">

                    <span>Activity Tracking</span>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>

                    <a href="/features/">Learn More</a>
                </div>

                <div class="col-xs-2"></div>
            </div>
        </div>

        <div class="index-section-4 container-fluid">
            <div class="row">
                <!-- Appears In Screen XS -->
                <div class="col-xs-12 visible-xs image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen SM and Up -->
                <div class="col-sm-12 visible-sm image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen MD and Up -->
                <div class="col-md-12 visible-md image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <!-- Appears In Screen LG and Up -->
                <div class="col-lg-6 visible-lg image-container">
                    <img src="/static/media/images/image_placeholder_2.png">
                </div>

                <div class="col-xs-12 col-lg-5 description-container">
                    <span>Wellness Platform</span>

                    <br />

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    <br /><br />

                    <a href="/how_it_works/">
                        <div class="border-blue">
                            <div>Learn More</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-1 visible-lg"></div>
            </div>
        </div>

        <div class="index-section-5 container-fluid background-lightgrey">
            <div class="row">
                <div class="col-xs-12">
                    <span class="index-features-header">Fluid Design. Feature Rich.</span>
                    <span class="index-features-subheader">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
            </div>

            <div class="row feats-row">
                <div class="col-xs-12 hidden-lg main-image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4 feat-container-left">
                    <div class="row row1">
                        <!-- Appears in Screen XS -->
                        <div class="col-xs-12 visible-xs feats-xs">
                            <div>
                                <img src="/static/media/images/feat_image_placeholder.jpg">
                                <span>Lorem Ipsum is Simply</span>
                            </div>
                        </div>

                        <!-- Appears in Screen SM and Up -->
                        <div class="col-sm-12 hidden-xs feats-left">
                            <span>Lorem Ipsum is Simply</span>
                            <img src="/static/media/images/feat_image_placeholder.jpg">
                        </div>
                    </div>

                    <div class="row row2">
                        <!-- Appears in Screen XS -->
                        <div class="col-xs-12 visible-xs feats-xs">
                            <div>
                                <img src="/static/media/images/feat_image_placeholder.jpg">
                                <span>Lorem Ipsum is Simply</span>
                            </div>
                        </div>

                        <!-- Appears in Screen SM and Up -->
                        <div class="col-sm-12 hidden-xs feats-left">
                            <span>Lorem Ipsum is Simply</span>
                            <img src="/static/media/images/feat_image_placeholder.jpg">
                        </div>
                    </div>

                    <div class="row row3">
                        <!-- Appears in Screen XS -->
                        <div class="col-xs-12 visible-xs feats-xs">
                            <div>
                                <img src="/static/media/images/feat_image_placeholder.jpg">
                                <span>Lorem Ipsum is Simply</span>
                            </div>
                        </div>

                        <!-- Appears in Screen SM and Up -->
                        <div class="col-sm-12 hidden-xs feats-left">
                            <span>Lorem Ipsum is Simply</span>
                            <img src="/static/media/images/feat_image_placeholder.jpg">
                        </div>
                    </div>
                </div>

                <!-- BEGIN:  Appears In Screen LG and Up -->
                <div class="col-lg-4 visible-lg main-image-container">
                    <img src="/static/media/images/placeholder_image_square.png">
                </div>
                <!-- END:    Appears in Screen LG and Up -->

                <div class="col-xs-12 col-sm-6 col-lg-4 feat-container-right">
                    <div class="row row1">
                        <!-- Appears in Screen XS -->
                        <div class="col-xs-12 visible-xs feats-xs">
                            <div>
                                <img src="/static/media/images/feat_image_placeholder.jpg">
                                <span>Lorem Ipsum is Simply</span>
                            </div>
                        </div>

                        <!-- Appears in Screen SM and Up -->
                        <div class="col-sm-12 hidden-xs feats-right">
                            <img src="/static/media/images/feat_image_placeholder.jpg">
                            <span>Lorem Ipsum is Simply</span>
                        </div>
                    </div>

                    <div class="row row2">
                        <!-- Appears in Screen XS -->
                        <div class="col-xs-12 visible-xs feats-xs">
                            <div>
                                <img src="/static/media/images/feat_image_placeholder.jpg">
                                <span>Lorem Ipsum is Simply</span>
                            </div>
                        </div>

                        <!-- Appears in Screen SM and Up -->    
                        <div class="col-sm-12 hidden-xs feats-right">
                            <img src="/static/media/images/feat_image_placeholder.jpg">
                            <span>Lorem Ipsum is Simply</span>
                        </div>
                    </div>

                    <div class="row row3">
                        <!-- Appears in Screen XS -->
                        <div class="col-xs-12 visible-xs feats-xs">
                            <div>
                                <img src="/static/media/images/feat_image_placeholder.jpg">
                                <span>Lorem Ipsum is Simply</span>
                            </div>
                        </div>

                        <!-- Appears in Screen SM and Up -->
                        <div class="col-sm-12 hidden-xs feats-right">
                            <img src="/static/media/images/feat_image_placeholder.jpg">
                            <span>Lorem Ipsum is Simply</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.html" %}
        
        <!-- SCRIPTS GO HERE -->

        <script>
            function goToByScroll(id) {
                // Scroll
                $('body').animate({
                    scrollTop: $("#"+id).offset().top - 50},
                    'slow');
            }

            // ***REVISIT BELOW FOR POPUP VIDEO***

            // //Function To Display Popup
            // function pop(div) {
            //     document.getElementById(div).style.display = 'block';
            // }

            //  //Function to Hide Popup
            // function hide(div) {
            //     document.getElementById(div).style.display = 'none';
            // }

            // //Function to detect escape button
            // document.onkeydown = function(evt) {
            //     evt = evt || window.event;

            //     if (evt.keyCode == 27) {
            //         hide('popDiv');
            //     }
            // };
        </script>

        <!-- SCIPTS END HERE -->
    </body>
</html>