<nav class="navbar navbar-fixed-top navbar-default nav-container" id="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed nav-dropdown-button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand nav-brand-name" href="/home/">
                <img src="/static/media/images/logo/Kynect_Logo_4px_Blue_Gradient.png">
                <span class="color-darkgrey">kynect</span>
            </a>
            
            <!-- IMPLEMENT THIS LINE BELOW WHEN BACKEND IS BEING SET UP
            <a class="navbar-text pull-right visible-xs buyNow" href="/purchase"><b>BUY NOW</b></a> -->
        </div>

        <div class="navbar-collapse collapse">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
                <!-- BEGIN: IMPLEMENT THIS WHEN BACKEND IS BEING SET UP -->

                <!-- {% if user.is_authenticated %}
                    <li class="dropdown navLinks visible-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCOUNT&nbsp&nbsp<span class="glyphicon glyphicon-menu-down" style="font-size:12px;"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="/profile/"><span class="glyphicon glyphicon-user"></span>&nbsp&nbsp&nbsp {{ user.get_username }}</a></li>
                            <li><a href="/notifications/"><span class="glyphicon glyphicon-comment"></span>&nbsp&nbsp&nbsp Notifications</a></li>

                            <li><a href="/account_settings/"><span class="glyphicon glyphicon-cog"></span>&nbsp&nbsp&nbsp Account Settings</a></li>

                            <li role="separator" class="divider"></li>

                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp&nbsp&nbsp Sign Out</a></li>
                        </ul>
                    </li>

                    <li class="navLinks hidden-xs"><a href="/purchase"><span><b>BUY NOW</b></span></a></li>
                    <li class="navLinks"><a href="/testimonials"><span>TESTIMONIALS</span></a></li>
                    <li class="navLinks"><a href="/team"><span>OUR TEAM</span></a></li>
                    <li class="navLinks"><a href="/contact_us"><span>CONTACT US</span></a></li>
                    <li class="navLinks"><a href="/help"><span>HELP</span></a></li>

                    <li class="dropdown navLinks hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger" style="font-size:12px;"></span>&nbsp&nbsp&nbsp ACCOUNT</a>

                        <ul class="dropdown-menu">
                            <li><a href="/profile/"><span class="glyphicon glyphicon-user"></span>&nbsp&nbsp&nbsp {{ user.get_username }}</a></li>
                            <li><a href="/notifications/"><span class="glyphicon glyphicon-comment"></span>&nbsp&nbsp&nbsp Notifications</a></li>

                            <li><a href="/account_settings/"><span class="glyphicon glyphicon-cog"></span>&nbsp&nbsp&nbsp Account Settings</a></li>

                            <li role="separator" class="divider"></li>

                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp&nbsp&nbsp Sign Out</a></li>
                        </ul>
                    </li>
                {% else  %}
                    <li class="navLinks hidden-xs"><a href="/purchase"><span><b>BUY NOW</b></span></a></li>
                    <li class="navLinks"><a href="/testimonials"><span>TESTIMONIALS</span></a></li>
                    <li class="navLinks"><a href="/team"><span>OUR TEAM</span></a></li>
                    <li class="navLinks"><a href="/contact_us"><span>CONTACT US</span></a></li>
                    <li class="navLinks"><a href="/help"><span>HELP</span></a></li>                                    
                    <li class="navLinks hidden-xs"><a href="/login"><span><u>LOGIN</u></span></a></li>
                    <li class="navLinks visible-xs"><a href="/login"><span><b>LOGIN</b></span></a></li>
                {% endif %}

                <!-- END: IMPLEMENT THIS WHEN BACKEND IS BEING SET UP -->

                <li class="hidden-xs nav-updateme-container">
                    <a class="nav-updateme" href="/subscribe/">
                        <button type="button" 
                                class="btn btn-default navbar-btn nav-button">UPDATE ME</button>
                    </a>
                </li>

                <li class="nav-links visible-xs nav-dropdown-updateme background-blue">
                    <a href="/subscribe/"><span class="color-white">UPDATE ME</span></a>
                </li>

                <!-- <li class="nav-links"><a href="/how_it_works"><span>HOW IT WORKS</span></a></li> -->

                <li class="nav-links">
                    <a href="/features/"><span class="color-darkgrey">FEATURES</span></a>
                </li>

                <li class="nav-links">
                    <a href="/about_us/"><span class="color-darkgrey">ABOUT US</span></a>
                </li>
                <!-- <li class="nav-links"><a href="/FAQ"><span>FAQ</span></a></li> -->
            </ul>
        </div>
    </div> <!-- /.container-fluid -->
</nav>