<nav class="navbar navbar-fixed-top navbar-default" id="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/home/" style="color:#000000;"><span class="glyphicon glyphicon-home"></span><b>&nbsp&nbspEko</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="navLinks"><a href="/purchase"><b>BUY NOW</b></span></a></li>
                <li class="navLinks"><a href="/testimonials">TESTIMONIALS</a></li>
                <li class="navLinks"><a href="/team">OUR TEAM</span></a></li>
                <li class="navLinks"><a href="/contact_us">CONTACT US</span></a></li>
                <li class="navLinks"><a href="/help">HELP</span></a></li>

                {% if user.is_authenticated %}
                    <li class="dropdown navLinks">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp&nbspACCOUNT</a>

                        <ul id="dropdownList" class="dropdown-menu">
                            <li><a href="/profile/"><span class="glyphicon glyphicon-user"></span>&nbsp&nbspAccount Portal</a></li>
                            <li><a href="/notifications/"><span class="glyphicon glyphicon-comment"></span>&nbsp&nbspNotifications</a></li>

                            <li role="separator" class="divider"></li>

                            <li><a href="/account_settings/"><span class="glyphicon glyphicon-cog"></span>&nbsp&nbspAccount Settings</a></li>

                            <li role="separator" class="divider"></li>

                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp&nbspSign Out</a></li>
                        </ul>
                    </li>
                {% else  %}
                    <li class="navLinks"><a href="/login">LOGIN</a></li>
                {% endif %}
            </ul>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>