<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>Account Portal</title>
        <meta charset=utf-8 />

        <!-- Favicon Import -->
        <link   rel="icon" 
                href="{% static 'media/images/favicon/favicon.ico' %}">

        <!-- Bootstrap Stylesheets -->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- External Stylesheets -->
        <link   rel="stylesheet"
                type="text/css" 
                href="{% static 'css/master.css' %}">

        <!-- Google Web Fonts -->
        <link   rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <link   href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" 
                rel="stylesheet">
        <link   href="https://fonts.googleapis.com/css?family=Muli" 
                rel="stylesheet">    

        <!-- JQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript Library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="mainContainer first-div">
            <div id="headerProfile">
                <span id="headerTextProfile">My Portal</span>

                <!-- Check number of Notifications here -->
                <a href="/notifications/" id="notificationIcon">
                    <span id="notificationsNum">1</span>
                </a>

                <hr style="border:0; height:1px; width:100%; background-color:#aaaaaa; margin:0;">
            </div>

            <div id="iconRowContainer">
                <div id="iconRowTop">
                    <div class="iconContainerLeft">
                        <a href="/track_location/"><img src="/static/media/site_images/locate_icon_5.png"></a>
                        <br />
                        <span>Locate Device</span>
                    </div>

                    <div class="iconContainerRight">
                        <a href="#"><img src="/static/media/site_images/pet_icon_2.png"></a>
                        <br />
                        <span>Pet Info</span>
                    </div>

                    <div class="iconContainerMiddle">
                        <a href="#"><img src="/static/media/site_images/data_icon_6.png"></a>
                        <br />
                        <span>Data Analysis</span>
                    </div>
                </div>

                <div id="iconRowBottom">
                    <div class="iconContainerLeft">
                        <a href="#"><img src="/static/media/site_images/history_icon_1.png"></a>
                        <br />
                        <span>History Log</span>
                    </div>

                    <div class="iconContainerRight">
                        <a href="#"><img src="/static/media/site_images/account_icon_4.png"></a>
                        <br />
                        <span>Account Settings</span>
                    </div>

                    <div class="iconContainerMiddle">
                        <a href="#"><img src="/static/media/site_images/device_icon_1.png"></a>
                        <br />
                        <span>Device Management</span>
                    </div>
                </div>
            </div>    
        </div>

        {% include "footer.html" %}
        
        <!-- SCRIPTS GO HERE -->



        <!-- SCIPTS END HERE -->
    </body>
</html>