<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>Kynect - My Devices</title>
        <meta charset=utf-8 />

        <!-- Favicon Import -->
        <link   rel="icon" 
                href="{% static 'media/images/favicon/favicon.ico' %}">

        <!-- Bootstrap Stylesheets -->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- External Stylesheets -->
        <link   rel="stylesheet"
                type="text/css" 
                href="{% static 'css/master.css' %}">

        <!-- Google Web Fonts -->
        <link   rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <link   href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" 
                rel="stylesheet">
        <link   href="https://fonts.googleapis.com/css?family=Muli" 
                rel="stylesheet">    

        <!-- JQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript Library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include "navbar.html" %}
            
        <div class="first-div">
            {% for device in devices %}  
                <span><b>Collar ID: {{ device.id }}</b></span>

                <h1><u>Device Type:</u></h1>

                <ul>
                    <li>Version: {{ device.device_type.version }}</li>
                    <li>Size: {{ device.device_type.size }}</li>
                    <li>Color: {{ device.device_type.color }}</li>
                </ul>

                <br />

                <h1><u>Device Service Plan:</u></h1>

                <ul>
                    <li>Data Limit: {{ device.service_plan.data_limit }}</li>
                    <li>Data Interval: {{ device.service_plan.data_interval }}</li>
                    <li>Cost/Month: ${{ device.service_plan.cost_per_month }}</li>
                    <li>Cost/Year: ${{ device.service_plan.cost_per_year }}</li>
                </ul>

                <br />
            {% endfor %}
        </div>

        {% include "footer.html" %}
        
        <!-- SCRIPTS GO HERE -->



        <!-- SCIPTS END HERE -->
    </body>
</html>